div,
input {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

input,
textarea {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border: honeydew;
  display: block; 
  padding: 16px;
  font-size: 16px;
  border-radius: 2px;
  outline: none;
  width: calc(100% - 32px);
}

h1 {
  text-align: center;
}
