.create-order-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.results-container {
  width: 70%;
  margin: 2em;
}

.order-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container {
  margin-top: 2em;
  height: 500px;
  width: auto;
}
