.button-form {
  color: #FFFFFF;
  font-family: 'PT Sans';
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  padding: 14px 0;
  outline: 0;
  cursor: pointer;
  border: 0;
  width: 30%;
  margin: 1em 0 0;
  background-color: #00B760;
  box-shadow: 2px 2px 0 0 #1d7f50;
}


@media (max-width: 600px) {
  .button-form {
    width: 100%;
  }
}
