.location-input-container {
  margin-bottom: 15px;
  width: 100%;
}

.suggestion-item--active {
  background-color: #fafafa;
  padding: 16px;
}

.suggestion-item {
  text-align: left;
  padding: 16px;
  cursor: pointer;
}

.autocomplete-dropdown-container {
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 0 0 2px 2px;
  width: 100%;
}
