.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2em;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
}